body {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}   

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    font-size: 12px;
    display: flex;
    gap: 16px;
}

header {
    background: #1F2937;
    margin: 0;
    height: fit-content;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    
}

.logo {
    font-size: 14px;
    font-weight: extra-bold; 
    color: #F9FAF8;
}

.headmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.awesome {
    width: 400px;
    margin-right: 28px;
    flex: 1 1 0;
    padding-top: 0;
    padding-right: 20px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #E5E7EB;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    color: #F9FAF8;
}

#sub {
    color: grey;
}

.header {
    display: flex;
    flex-direction: column;
    margin-left: 176px;
    margin-right: 176px;
    padding-bottom: 72px;
}

.placeholderimg {
    height: 120px;
    width: 175px;
    padding: 76px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0px;
    background-color: grey;
    flex: 1 1 0;
    text-align: center;

}

.titlemain1 {
    text-align: center;
    color: #1F2937;
    font-size: 28px;
    font-weight: extra-bold;
}

img {
    border-radius: 10%;
    border: 3px solid #3882F6;
    height: 144px;
    width: 144px;
    align-items: center;
}

button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 30px;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
}

.child {
    max-width: 144px;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
    gap: 44px;
}

.quote {
    background: #E5E7EB; 
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
}

.top {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    
}

.bot {
    align-self: flex-end;
}

.call {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 50px 100px;
    align-items: center;
    border-radius: 2%;
}

#signup {
    border-radius: 10%;
    border: 2px solid #E5E7EB;
    padding: 5px 20px;
    
}

#click {
    padding-top: 0;
    margin-top: 0;
}

h4 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 18px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-top: 18px;

}



/* color: #1F2937;  -> background color (hero and footer)
Hero main text 48px extra-bold #F9FAF8
Hero Secondary text, Header Link text -> 18px #E5E7EB
Header Logo Text -> 24px #F9FAF8
Button color, call to action background color -> #3882F6
Information header text -> 36px extra-bold #1F2937
Quote Section background color -> #E5E7EB
Quote Text -> 36px light italic #1F2937 */


