body {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    font-size: 12px;
    display: flex;
    gap: 16px;
}

header {
    background: #1F2937;
    margin: 0;
    height: fit-content;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    
}

.logo {
    font-size: 14px;
    font-weight: extra-bold; 
    color: #F9FAF8;
}

.headmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.awesome {
    width: 400px;
    margin-right: 28px;
    flex: 1 1 0;
    padding-top: 0;
    padding-right: 20px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #E5E7EB;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: column;
    margin-left: 176px;
    margin-right: 176px;
    padding-bottom: 25px;
}

.placeholderimg {
    height: 120px;
    width: 175px;
    padding: 76px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0px;
    background-color: grey;
    flex: 1 1 0;
    text-align: center;
    
    
    
    

}

















/* color: #1F2937;  -> background color (hero and footer)
Hero main text 48px extra-bold #F9FAF8
Hero Secondary text, Header Link text -> 18px #E5E7EB
Header Logo Text -> 24px #F9FAF8
Button color, call to action background color -> #3882F6
Information header text -> 36px extra-bold #1F2937
Quote Section background color -> #E5E7EB
Quote Text -> 36px light italic #1F2937 */


